@model IEnumerable<TownshipViewModel>

<div class="col-md-8">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="m-0">Township List View</h1>
        <a href="/township/entry" class="btn btn-success">Entry</a>
    </div>
    <div class="card p-3">
        <table class="table table-bordered">
            <thead class="table-dark text-white">
                <tr>
                    <th>No</th>
                    <th>English Name</th>
                    <th>Myanmar Name</th>
                    <th>City (English)</th>
                    <th>City (မြန်မာ)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-white">
                @{
                    int i = 1;
                }

                @foreach (var township in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@township.TownshipNameInEnglish</td>
                        <td>@township.TownshipNameInMyanmar</td>
                        <td>@township.CityNameInEnglish.</td>
                        <td>@township.CityNameInMyanmar</td>
                        <td>
                            <a href="/township/edit/@township.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a href="/township/delete/@township.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
